<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>VisionGaiaTechnology</vendor>
  <vendor_url>https://github.com/VisionGaiaTechnology</vendor_url>
  <action id="org.vgt.gedefense.ensure-ready">
    <description>Start and verify GeDefense Beta v3</description>
    <message>Administrator authentication is required to start GeDefense.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/gedefense/gedefense-ensure-ready</annotate>
  </action>
</policyconfig>
